node_modules
npm-debug.log*
.git
.gitignore
.env.local
.env.*.local
.vscode
.idea
.DS_Store
dist
build
coverage
*.pem
*.key
README.md
.eslintcache
.parcel-cache
yarn-error.log*
.next
.nuxt
out
.cache
backend/config.env
backend/config/config.env